@import url('styles.css');

header {
    width: 100%;
    height: 70px;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Background);
    /* background-color: purple; */
    z-index: 3;
    transition: all .2s;
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-Title);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-li);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-li-active);
    border-bottom: 3px var(--color-li-active);
}

#mobile_btn {
    display: none;
    color: var(--color-Title);
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}