@import url('./styles.css');

header {
    width: 100%;
    height: 70px;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Background);
    z-index: 3;
    transition: all .2s;
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: white;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-li);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-li-active);
    border-bottom: 3px var(--color-li-active);
}

#mobile_btn {
    display: none;
    color: var(--color-Title);
}

#mobile_menu {
    position: absolute;
    /* display: none; */
    top: -300px;
    transition: all .2s;
}

/* From Uiverse.io by vinodjangid07 */
#checkbox {
    display: none;
}

.toggle {
    display: none;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {

    #nav_list,
    #navbar .btn-default, #checkbox {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
    }

    #mobile_menu.active {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100dvh - 70px);
        top: 70px;
        background-color: #0f0e17e5;
        transition: all .2s;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
        font-size: 22px;
    }
}