.home {
  padding: 0;
  height: 100dvh;
  display: flex;
}

.backgroundPOG {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 100dvh;
  z-index: -1;
  display: flex;
  background: rgb(15,14,23);
  background: linear-gradient(90deg, rgba(15,14,23,1) 55%, rgba(13,12,62,0.7609418767507002) 80%, rgba(12,11,81,0.13068977591036413) 98%, rgba(9,9,121,0) 100%);
}

.backgroundPOG .img_bg {
  width: 100%;
  height: 100%;
  background-image: url('/src/images/BG-home.png');
  background-size:cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.backgroundPOG .empty {
  width: 50%;
  height: 100%;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  background: rgb(15,14,23);
  background: linear-gradient(90deg, rgba(15,14,23,1) 55%, rgba(13,12,62,0.7609418767507002) 80%, rgba(12,11,81,0.13068977591036413) 98%, rgba(9,9,121,0) 100%);
}

.text-box {
  width: 60%;
}

h1 {
  font-size: 25px;
  color: #ff8906;
}

h2 {
  color: #fffffe;
  font-size: 18px;
}

@media screen and (max-width: 768px) {

  #home {
    background: rgb(15,14,23);
    background: linear-gradient(0deg, rgba(15,14,23,1) 35%, rgba(13,12,62,0.7609418767507002) 60%, rgba(12,11,81,0.13068977591036413) 78%, rgba(9,9,121,0) 100%);
  }
  
  .home-text {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column reverse;
    text-align: center;
    justify-content: flex-end;
    height: calc(100dvh - 70px);
    width: 100%;
    background: rgb(15,14,23);
    background: linear-gradient(0deg, rgba(15,14,23,1) 35%, rgba(9,9,121,0) 100%);
  }

  h1 {
    font-size: 1.5rem;
    color: #ff8906;
  }
  
  h2 {
    font-size: 1rem;
    color: #fffffe;
  }

  #home .empty {
    width: 0;
  }

  .backgroundPOG .img_bg {
    background-image: url('/src/images/BG-home-mobile.png');
    background-size: cover;
    background-position: right bottom;
  }
}