@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./header.css');
@import url('./home.css');
@import url('./plans.css');
@import url('./menu.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./topics.css');
@import url('./waves.css');

:root {
    --color-Background: #fffffe;
    --color-Background-Secondary: #5000ca;
    --color-Title: #fffffe;
    --color-Logo: #0f0e17;
    --color-li: #0f0e17;
    --color-li-active: #ff8906;
    
    --color-Card-Background: #fffffe;
    --color-Card-Heading: #0f0e17;
    --color-Card-Paragraph: #a7a9be;
    --color-Stroke: black;
    --color-Button-Background: #ff8906;
    --color-Button-Text: #0f0e17;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-Background: #0f0e17;
        --color-Background-Secondary: #5000ca;
        --color-Title: #0f0e17;
        --color-Logo: #fffffe;
        --color-li: #fffffe;
        --color-li-active: #ff8906;

        --color-Card-Background: #fffffe;
        --color-Card-Heading: #0f0e17;
        --color-Card-Paragraph: #2e2f3e;
        --color-Stroke: black;
        --color-Button-Background: #ff8906;
        --color-Button-Text: #fffffe;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-Background-Secondary);
    overflow-x: hidden;
}

section {
    padding: 28px 8%;
}

main {
    overflow: hidden;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Button-Background);
    color: var(--color-Button-Text);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-Button-Text);
    color: var(--color-Button-Background);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);
    ;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: white;
    font-size: 1.563rem;
    /* font-size: 40px; */
    padding: 40px 0;
}

.section-subtitle {
    font-size: 2.1875rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-Background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-Card-Background);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-li-active);
    transition: all .2s;
}
/* 
@media screen and (max-width: 768px) {
    body {
        overflow: auto;
    }
} */