@import url('./styles.css');

.wave {
  position: absolute;
  /* width: 100%; */
  width: 200%;
  z-index: -1;
  align-self: center;
}

.planos .down1 {
  left: -60%;
  top: 0;
  width: 200%;
}

.planos .up1 {
  left: 0;
  bottom: 30px;
  width: 100%;
}

#objetivos .down2 {
  top: -50px;
  width: 500%;
  left: -60%;
}

#objetivos .up2 {
  bottom: -20px;
  left: -60%;
}